<div >
  <h2 class="headingPush">Ad Hoc Documents</h2>
</div>

<div>
<mat-card>
    <mat-card-title>
      {{domain?.domainName}}
    </mat-card-title>
    <mat-card-subtitle>
      {{domain?.domainDescription}}
    </mat-card-subtitle>

    <mat-card-content flex>

      <mat-form-field>
            <input #filter matInput placeholder="Filter" (keyup)="applyFilter($event.target.value)">
          </mat-form-field>
          <button mat-icon-button (click)="this.filter.value = ''; applyFilter('')"><mat-icon>clear</mat-icon></button>
    
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef>View</th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="request(element)" mat-icon-button ><mat-icon  >pageview</mat-icon></button>  
                </td>
              </ng-container>

            <ng-container matColumnDef="request">
                <th mat-header-cell *matHeaderCellDef>New</th>
                <td mat-cell *matCellDef="let element">
                    <button [routerLink]="['/adhoc/', element.domainId, element.id]" routerLinkActive="router-link-active"  mat-icon-button ><mat-icon  >local_printshop</mat-icon></button>  
                </td>
              </ng-container>

            <ng-container matColumnDef="documentName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.documentName}} </td>
            </ng-container>
          
            <ng-container matColumnDef="documentDescription">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.documentDescription}} </td>
            </ng-container>
                   
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[2, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>