table {
    width: 100%;
  }

  .headingPush{
      margin-left: 10px;
  }

  .mat-sort-header-container {
    align-items: center;
  }

  .mat-column-view{
      width: 30px;
      text-align: center;
  }

  .mat-column-request{
    width: 30px;
    padding-right: 10px;
    text-align: center;
}