.sidenav-container {
    position: absolute;
    top: 67px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }
  
  .app-sidenav{
    width: 240px;
  }