<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav 
    #sidenav [mode]="isScreenSmall() ? 'over' : 'side'" [opened]="!isScreenSmall()"
    class="app-sidenav mat-elevation-z10">
    <mat-toolbar color="accent">Domains</mat-toolbar>
    <mat-nav-list name="domain" aria-label="domain">
      <mat-list-item [routerLink]="['/adhoc', domain.id]" *ngFor="let domain of domains">
        <p>
          {{domain.domainName}}</p>
        <span fxFlex></span>
        <span *ngIf="selectedDomain && domain.id === currentDomain"> 
          <mat-icon>chevron_right</mat-icon>
        </span>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <app-ad-hoc-list #adHocList [domain]="selectedDomain"></app-ad-hoc-list>
  </mat-sidenav-content>
</mat-sidenav-container>