<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav [mode]="isScreenSmall() ? 'over' : 'side'" [opened]="!isScreenSmall()"
    class="app-sidenav mat-elevation-z10">
    <mat-toolbar color="primary">Domains</mat-toolbar>
    <mat-nav-list>
        <mat-list-item *ngFor="let user of users | async">
           <a matLine [routerLink]="['/contactmanager', user.id]" routerLinkActive="router-link-active"><mat-icon svgIcon="{{user.avatar}}"></mat-icon> {{ user.name }}</a>
        </mat-list-item>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content ">
    <!-- <app-toolbar (toggleTheme)="toggleTheme()" 
                 (toggleSidenav)="sidenav.toggle()"
                 (toggleDirection)="toggleDirection()"
                 > </app-toolbar> -->
    <div class="wrapper">
      <!-- <router-outlet></router-outlet> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>