<div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutAlign="space-between center" >
  <div class="flex-card" fxFlex="33%" fxFlex.xs="100%" *ngFor="let domain of domains" >
      <mat-card>
        <mat-card-title>
          {{domain.domainName}}
        </mat-card-title>
        <mat-card-content>
          {{domain.domainDescription}}
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Select</button>
        </mat-card-actions>
        
      </mat-card>

  </div>
  
</div>