<mat-grid-list cols=1 class="heading">
  <h1>{{domain?.domainName}}</h1>
  <h3>{{adHocDocument?.documentName}}</h3>
  <mat-divider></mat-divider>
</mat-grid-list>

<div class="wrapper">
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutAlign="space-around start">
    <div fxFlex="0 1 calc(50% - 25px)" fxFlex.lt-sm="100%">
      <mat-card style=" background-color: tomato;">
        <mat-card-title>
          {{adHocDocument?.documentName}} Request
        </mat-card-title>
        <mat-card-content>
            <app-dynamic-form></app-dynamic-form>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="0 1 calc(50% - 25px)" fxFlex.lt-sm="100%">
      <mat-card style="background-color: tomato;">
        <mat-card-title>
          Prior Requests
        </mat-card-title>
      </mat-card>
    </div>
  </div>
</div>